fastapi
uvicorn[standard]
python-dotenv
aio-pika
pymongo
youtube-transcript-api
yt-dlp
langchain
langchain-core
langchain-google-genai
langchain-groq
langchain-openai
langchain-pinecone
langchain-text-splitters
langgraph
pinecone
openai
requests
python-multipart
pydantic-settings
email-validator
httpx
google-genai
groq
google-api-python-client
